<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/ahqchang/AppUpdater/blob/master/ipas/dafaChatClient_1.2.1_117_2021-02-14_11-25-19/TF_MLChatClient_Release_1.2.1_build_117.ipa?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<integer>0</integer>
					<key>url</key>
					<string>https://dnsndtbook.imags-google.com/system/app/meeline/ios_logo_1024.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://dnsndtbook.imags-google.com/system/app/meeline/ios_logo_1024.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.MiliaoChat.chatClient</string>
				<key>bundle-version</key>
				<string>1.0.01</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>密聊</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
